doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title
            block title
    body
        h1 hello world!
        img(src="~@img/img.png" alt="#")
        h1 Let's learn Webpack 3
        button#secret-button Show the Secret
        p#secret-paragraph You can't see this all the time